Disorder_conf_used
OLD_RESULTS/
SelfConsistent
a.out
main.o
sf
tJ_IMT_NormalState.config
tJ_IMT_NormalState.creator
tJ_IMT_NormalState.creator.user
tJ_IMT_NormalState.files
tJ_IMT_NormalState.includes
tJ_IMT_Normal_State_T0.config
tJ_IMT_Normal_State_T0.creator
tJ_IMT_Normal_State_T0.creator.user
tJ_IMT_Normal_State_T0.files
tJ_IMT_Normal_State_T0.includes
